<h1>Todo App</h1>

<form action='/todos' method='get'><input type='submit' value='create a todo'></form>
<form action="/" method="get">
    <input type="hidden" name="hideCompleted" value={{userSettings.showCompleted}}>
    <input type="submit" value="Toggle Show Completed">
</form>
<form action="/" method="get">
    <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
    <input type="hidden" name="orderBy" value="todoName">
    <input type="submit" value="Name">
</form>

<form action="/" method="get">
    <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
    <input type="hidden" name="orderBy" value="dueDate">
    <input type="submit" value="By Due Date"> 
</form>

<form action="/" method="get">
    <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection 1}}1{{else}}-1{{/if_eq}}>
    <input type="hidden" name="orderBy" value="importance">
    <input type="submit" value="By Importance">
</form>
<form action="/" method="get">
    <input type="hidden" name="orderDirection" value={{#if_eq userSettings.orderDirection -1}}-1{{else}}1{{/if_eq}}>
    <input type="hidden" name="orderBy" value="creationDate">
    <input type="submit" value="By Newest">
</form>
<section>
    <table>
        <thead>
            <tr>
                <th>Due Date</th>
                <th>Title</th>
                <th>Description</th>
                <th>Importance</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.dueDate}}</td>
                <td>{{this.todoName}}</td>
                <td>{{this.description}}</td>
                <td>{{this.importance}}</td>
                <td>
                    <form action="/todo/{{this._id}}/done" method="post">
                        <input type="checkbox" onchange="this.form.submit()" name="done" {{#if this.done}}checked{{/if}}>
                    </form>
                </td>
                <td><form action='/todo/{{this._id}}' method='get'><input type='submit' value='Edit'></form></td>
                <td>
                    <form action='/todo/{{this._id}}/deleted' method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
