<h1>Todo App</h1>

<form action='/todos' method='get'><input type='submit' value='create a todo'></form>
<p>lower buttons do not work yet, just placeholders</p>
<button>Due Date</button>
<button>Title</button>
<button>Importance</button>
<section>
    <table>
        <thead>
            <tr>
                <th>Due Date</th>
                <th>Title</th>
                <th>Description</th>
                <th>Importance</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.dueDate}}</td>
                <td>{{this.todoName}}</td>
                <td>{{this.description}}</td>
                <td>{{this.importance}}</td>
                <td>
                    <form action="/todo/{{this._id}}/done" method="post">
                        <input type="checkbox" onchange="this.form.submit()" name="done" {{#if this.done}}checked{{/if}}>
                    </form>
                </td>
                <td><form action='/todo/{{this._id}}' method='get'><input type='submit' value='Edit'></form></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
