<form action="/todo/update/{{this._id}}" method="post">
    <label>Title</label>
    <input name="todoName" type="text" value="{{this.todoName}}">

    <label>Importance</label>
    <input name="importance" type="number" min=1 max=5 value="{{this.importance}}">

    <label>Due Date</label>
    <input name="dueDate" type="date" value="{{this.dueDate}}">

    <label>Description</label>
    <input name="description" type="text" value="{{this.description}}">

    <label>Done</label>
    <input name="done" type="checkbox" {{#if this.done}}checked{{/if}}>

    <input name="submission" type="submit" value="Update">
    
</form>